<!Doctype html>
<html lang="ko">
    <head>
        <title>바이소셜</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="author" content="univEBIZ_ZOoOe">
        <meta name="keywords" content="바이소셜, 사회적기업, 사회적기업 바이소셜">
        <meta name="description" content="Better Tomorrow 사회적경제와 함께 보다 나은 세상을 만드는 일상 실천 캠페인 바이소셜">

        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="" >
        <meta property="og:title" content="바이소셜">
        <meta property="og:description" content="Better Tomorrow 사회적경제와 함께 보다 나은 세상을 만드는 일상 실천 캠페인 바이소셜">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta property="twitter:title" content="바이소셜">
        <meta property="twitter:description" content="">
        <meta property="twitter:image" content="./../content/images/share.png">

        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico"> <!-- Chrome, Safari, IE -->
        <link rel="icon" type="image/png" href="../../content/images/favicon.png"> <!-- Firefox, Opera -->

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/common.css" rel="stylesheet">
        <link href="../../content/styles/buysocialcampaign.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <!-- header START -->
        <header>
            <div class="top-hd">
                <div class="grid1170">
                    <h1 id="ci"><a href="index.html"><img src="../../content/images/common/header-logo.png" alt="Buy Social 더 나은 일상을 산다"></a></h1>
                    <a href="javascript:void(0);" class="nav-tgl-btn__mo">
                        <i class="bar"><span class="txt-hidden">모바일 내비게이션 토글 버튼</span></i>
                    </a>
                    <nav>
                        <h3 class="gfw500 nav-hd-tit__mo">MENU</h3>
                        <ul class="nav-item-list flex-box flex-spc__end flex-align__cnt">
                            <li class="nav-item">
                                <a href="AboutCampaign.html" class="nav-tit">#바이소셜 캠페인</a>
                                <strong class="nav-tit__mo">#바이소셜 캠페인</strong>
                                <ul class="nav-menu-list__mo">
                                    <li>
                                        <a href="AboutCampaign.html" class="nav-menu__mo"><span class="nav-menu-label__mo">캠페인 소개</span></a>
                                    </li>
                                    <li>
                                        <a href="CampaignHistory.html" class="nav-menu__mo"><span class="nav-menu-label__mo">캠페인 히스토리</span></a>
                                    </li>
                                    <li>
                                        <a href="AboutSocialEco.html" class="nav-menu__mo"><span class="nav-menu-label__mo">사회적경제란?</span></a>
                                    </li>
                                    <li>
                                        <a href="AboutSocialEnt.html" class="nav-menu__mo"><span class="nav-menu-label__mo">사회적경제기업이란?</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="BuySocialDayConsume.html" class="nav-tit">#바이소셜 더 알아보기</a>
                                <strong class="nav-tit__mo">#바이소셜 더 알아보기</strong>
                                <ul class="nav-menu-list__mo">
                                    <li>
                                        <a href="BuySocialDayConsume.html" class="nav-menu__mo"><span class="nav-menu-label__mo">소비성향 테스트</span></a>
                                    </li>
                                    <li>
                                        <a href="HouseVR.html" class="nav-menu__mo"><span class="nav-menu-label__mo">바이소셜 VR 하우스</span></a>
                                    </li>
                                    <li>
                                        <a href="BuySocialFesta.html" class="nav-menu__mo"><span class="nav-menu-label__mo">가치소비플랫폼</span></a>
                                    </li>
                                    <li>
                                        <a href="OnAirProject.html" class="nav-menu__mo"><span class="nav-menu-label__mo">바이소셜 온에어 프로젝트</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="BuySocialByMeEarth.html" class="nav-tit">#2021 참여하기</a>
                                <strong class="nav-tit__mo">#2021 참여하기</strong>
                                <ul class="nav-menu-list__mo">
                                    <li>
                                        <a href="BuySocialWeek.html" class="nav-menu__mo"><span class="nav-menu-label__mo">바이소셜 위크 (Buy Social Week)</span></a>
                                    </li>
                                    <li>
                                        <a href="BuySocialChallenge.html" class="nav-menu__mo"><span class="nav-menu-label__mo">바이소셜 실천다짐 이벤트</span></a>
                                    </li>
                                    <li>
                                        <a href="BuySocialByMeEarth.html" class="nav-menu__mo"><span class="nav-menu-label__mo">#바이소셜 by ME 시즌2</span></a>
                                    </li>
                                    <li>
                                        <a href="BuySocialEnt.html" class="nav-menu__mo"><span class="nav-menu-label__mo">바이소셜 참여기업</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="AboutAttend.html" class="nav-tit">#아카이브</a>
                                <strong class="nav-tit__mo">#아카이브</strong>
                                <ul class="nav-menu-list__mo">
                                    <li>
                                        <a href="AboutAttend.html" class="nav-menu__mo"><span class="nav-menu-label__mo">캠페인 참여 안내</span></a>
                                    </li>
                                    <li>
                                        <a href="DeclareCampaign.html" class="nav-menu__mo"><span class="nav-menu-label__mo">바이소셜 선언식</span></a>
                                    </li>
                                    <li>
                                        <a href="BuySocialFairTrade.html" class="nav-menu__mo"><span class="nav-menu-label__mo">바이소셜X공정무역</span></a>
                                    </li>
                                    <li>
                                        <a href="BuySocialSovac.html" class="nav-menu__mo"><span class="nav-menu-label__mo">바이소셜XSOVAC 2020</span></a>
                                    </li>
                                    <li>
                                        <a href="EventInitial.html" class="nav-menu__mo"><span class="nav-menu-label__mo">대국민 초성 이벤트</span></a>
                                    </li>
                                    <li>
                                        <a href="IamSocialSeller.html" class="nav-menu__mo"><span class="nav-menu-label__mo">#IamSocialSeller</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="Notice.html" class="nav-tit">#알립니다</a>
                                <strong class="nav-tit__mo">#알립니다</strong>
                                <ul class="nav-menu-list__mo">
                                    <li>
                                        <a href="Notice.html" class="nav-menu__mo"><span class="nav-menu-label__mo">공지사항</span></a>
                                    </li>
                                    <li>
                                        <a href="FAQ.html" class="nav-menu__mo"><span class="nav-menu-label__mo">FAQ</span></a>
                                    </li>
                                    <li>
                                        <a href="QNA.html" class="nav-menu__mo"><span class="nav-menu-label__mo">1:1 문의</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div> <!-- //grid -->
            </div> <!-- //top header -->
            <div class="btm-hd">
                <div class="grid1170">
                    <ul class="flex-box flex-spc__end">
                        <li class="nav-item__btm">
                            <a href="AboutCampaign.html" class="nav-menu"><span class="nav-menu-label">캠페인 소개</span></a>
                            <a href="CampaignHistory.html" class="nav-menu"><span class="nav-menu-label">캠페인 히스토리</span></a>
                            <a href="AboutSocialEco.html" class="nav-menu"><span class="nav-menu-label">사회적경제란?</span></a>
                            <a href="AboutSocialEnt.html" class="nav-menu"><span class="nav-menu-label">사회적경제기업이란?</span></a>
                        </li>
                        <li class="nav-item__btm">
                            <a href="BuySocialDayConsume.html" class="nav-menu"><span class="nav-menu-label">소비성향 테스트</span></a>
                            <a href="HouseVR.html" class="nav-menu"><span class="nav-menu-label">바이소셜 VR 하우스</span></a>
                            <a href="BuySocialFesta.html" class="nav-menu"><span class="nav-menu-label">가치소비플랫폼</span></a>
                            <a href="OnAirProject.html" class="nav-menu"><span class="nav-menu-label">바이소셜 온에어 프로젝트</span></a>
                        </li>
                        <li class="nav-item__btm">
                            <a href="BuySocialWeek.html" class="nav-menu"><span class="nav-menu-label">바이소셜 위크<br>(Buy Social Week)</span></a>
                            <a href="BuySocialChallenge.html" class="nav-menu"><span class="nav-menu-label">바이소셜<br>실천다짐 이벤트</span></a>
                            <a href="BuySocialByMeEarth.html" class="nav-menu"><span class="nav-menu-label">#바이소셜 by ME 시즌2</span></a>
                            <a href="BuySocialEnt.html" class="nav-menu"><span class="nav-menu-label">바이소셜 참여기업</span></a>
                        </li>
                        <li class="nav-item__btm">
                            <a href="AboutAttend.html" class="nav-menu"><span class="nav-menu-label">캠페인 참여 안내</span></a>
                            <a href="DeclareCampaign.html" class="nav-menu"><span class="nav-menu-label">바이소셜 선언식</span></a>
                            <a href="BuySocialFairTrade.html" class="nav-menu"><span class="nav-menu-label">바이소셜X공정무역</span></a>
                            <a href="BuySocialSovac.html" class="nav-menu"><span class="nav-menu-label">바이소셜XSOVAC 2020</span></a>
                            <a href="EventInitial.html" class="nav-menu"><span class="nav-menu-label">대국민 초성 이벤트</span></a>
                            <a href="IamSocialSeller.html" class="nav-menu"><span class="nav-menu-label">#IamSocialSeller</span></a>
                        </li>
                        <li class="nav-item__btm">
                            <a href="Notice.html" class="nav-menu"><span class="nav-menu-label">공지사항</span></a>
                            <a href="FAQ.html" class="nav-menu"><span class="nav-menu-label">FAQ</span></a>
                            <a href="QNA.html" class="nav-menu"><span class="nav-menu-label">1:1 문의</span></a>
                        </li>
                    </ul>
                </div> <!-- //grid -->
            </div> <!-- //bottom header -->
        </header>
        <!-- //header END -->
        <!-- section START -->
        <section id="subPage">
            <div class="grid1170">
                <div class="subpage-area">
                    <div class="subpage-wrap" id="aboutSocialEcoEnt">
                        <div class="subpage-hd flex-box flex-row__rv flex-spc__btw flex-align__cnt">
                            <div class="subpage-root flex-box flex-align__cnt fs14">
                                <span class="subpage-root-item">HOME</span>
                                <span class="subpage-root-item">바이소셜 캠페인</span>
                                <span class="subpage-root-item">사회적경제기업이란?</span>
                            </div>
                            <h2 class="subpage-hd-tit gfw700 fs36">사회적경제기업이란?</h2>
                        </div> <!-- //sub page header -->
                        <div class="subpage-cont">
                            <div class="cmn-area scent-area__top">
                                <p class="cmn-cont-txt fw300 fs20 txt-cnt">우리나라에서는 사회적경제기업을 아래와 같이 구분하고 있어요.</p>
                                <div class="scorg-kind-box">
                                    <ul class="scorg-kind-list flex-box flex-spc__btw">
                                        <li class="scorg-kind-item fw500 fs20">#사회적기업</li>
                                        <li class="scorg-kind-item fw500 fs20">#협동조합</li>
                                        <li class="scorg-kind-item fw500 fs20">#자활기업</li>
                                        <li class="scorg-kind-item fw500 fs20">#마을기업</li>
                                        <li class="scorg-kind-item fw500 fs20">#소셜벤처</li>
                                    </ul>
                                    <h3 class="scorg-kind-tit gfw500 fs28 fc-orange">사회적경제의 조직</h3>
                                </div>
                                <div class="scorg-info-box">
                                    <figure class="cmn-figure__scorg"><img src="../../content/images/buysocialcampaign/enterprise-boy.png" alt="살펴보고 있는 남자"></figure>
                                    <dl class="scorg-info-item">
                                        <dt class="fw500 fs20">사회적기업은?</dt>
                                        <dd>
                                            <p class="fw300 fs18"><span class="txt-linebreak">사회문제 해결을 고민하며 공공의 이익에 부합하는</span> 사회적 가치 창출을 목적으로 경제활동 하는 기업입니다.</p>
                                        </dd>
                                    </dl>
                                    <dl class="scorg-info-item">
                                        <dt class="fw500 fs20">협동조합은?</dt>
                                        <dd>
                                            <p class="fw300 fs18"><span class="txt-linebreak">조합원이 공동의 목표를 위해 자발적으로 모여 함께 소유하고 민주적으로 운영하는 사업체입니다.</p>
                                        </dd>
                                    </dl>
                                    <dl class="scorg-info-item">
                                        <dt class="fw500 fs20">마을기업은?</dt>
                                        <dd>
                                            <p class="fw300 fs18"><span class="txt-linebreak"><span class="txt-linebreak">지역의 필요와 문제를 누구보다 잘 아는 마을주민이 지역자원을 활용해 수익을 내고</span> 지역 문제를 해결하는 기업입니다.</p>
                                        </dd>
                                    </dl>
                                    <dl class="scorg-info-item">
                                        <dt class="fw500 fs20">자활기업은?</dt>
                                        <dd>
                                            <p class="fw300 fs18"><span class="txt-linebreak"><span class="txt-linebreak">1인 또는 2인 이상의 수급자 또는 저소득층 주민이 협력하여 탈빈곤을 위한 자활사업을 운영하는 기업입니다.</p>
                                        </dd>
                                    </dl>
                                    <dl class="scorg-info-item">
                                        <dt class="fw500 fs20">소셜벤처는?</dt>
                                        <dd>
                                            <p class="fw300 fs18"><span class="txt-linebreak"><span class="txt-linebreak">혁신적 비즈니스 모델을 통해 사회적 가치를 창출하는 기업입니다.</p>
                                        </dd>
                                    </dl>
                                </div>
                            </div> <!-- //common area : 사회적경제의 조직 -->
                            <div class="cmn-area scent-area__md">
                                <h3 class="cmn-hd-tit fw500 fs24"><strong class="fw500"><span class="txt-linebreak__mo">사회적경제를 이루고 있는</span> <span class="fc-orange">다양한 네트워크</span>를 소개합니다!</strong></h3>
                                <dl class="scnet-kind-item">
                                    <dt class="scnet-kind-tit cmn-tgl-tit active">
                                        <span class="gfw700 fs14 idx"># 1</span>
                                        <strong class="fw500 fs24 tit">시민사회</strong>
                                    </dt>
                                    <dd class="scnet-kind-cont cmn-tgl-cont" style="display: block;">
                                        <ul>
                                            <li>
                                                <strong class="scnet-name fw500 fs20">한국사회적경제연대회의</strong>
                                                <p class="cmn-cont-txt fw300 fs18">사회적경제 영역에서 활동하는 단체들이 연대하고 협력하며<br>사회적경제의 자율성과 주도성을 지켜나가기 위한 연대조직</p>
                                                <a href="http://www.ksenet.org/" target="_blank" title="한국사회적경제연대회의 홈페이지 (새 창 이동)" class="scnet-link-btn gfw500 fs16">www.ksenet.org</a>
                                            </li>
                                            <li>
                                                <strong class="scnet-name fw500 fs20">사회적경제 활성화 전국 네트워크</strong>
                                                <p class="cmn-cont-txt fw300 fs18">YMCA, YWCA, 경제정의실천시민연합 등 3개 시민사회단체가 주축이 되어 2011년 12월 발족.<br><span class="txt-linebreak">사회적경제 활성화를 위한 생태계 조성을 목표로 정책환경 개선, 시민의식 개선 등의 과제수행을 위해</span> 사회적경제 당사자뿐 아니라 정부와 시민단체, 종교계, 경제단체, 봉사단체 등 다양한 조직들이 연대하고 조직되었다.</p>
                                                <a href="https://knsec.or.kr/" target="_blank" rel="noreferrer noopener" title="사회적경제 활성화 전국 네트워크 홈페이지 이동 (새 창 이동)" class="scnet-link-btn gfw500 fs16">http://knsec.or.kr</a>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                <dl class="scnet-kind-item">
                                    <dt class="scnet-kind-tit cmn-tgl-tit">
                                        <span class="gfw700 fs14 idx"># 2</span>
                                        <strong class="fw500 fs24 tit">당사자조직 네트워크</strong>
                                    </dt>
                                    <dd class="scnet-kind-cont cmn-tgl-cont">
                                        <ul>
                                            <li>
                                                <strong class="scnet-name fw500 fs20">한국사회적기업중앙협의회</strong>
                                                <p class="cmn-cont-txt fw300 fs18">사회적기업에 대한 정부·기업·시민사회의 관심과 지원 유도, 사회적기업 활성화를 통한 사회통합을 목적으로 2008년 발족.<br>현재 1,000여 개의 회원조직이 참여.</p>
                                                <a href="http://www.ikose.or.kr/" target="_blank" title="한국사회적기업중앙협의회 홈페이지 (새 창 이동)" class="scnet-link-btn gfw500 fs16">www.ikose.or.kr</a>
                                            </li>
                                            <li>
                                                <strong class="scnet-name fw500 fs20">전국협동조합협의회</strong>
                                                <p class="cmn-cont-txt fw300 fs18">협동조합기본법상 협동조합의 전국조직으로 2019년 4월 발족. 9개 지역별 협의체와 3개 부문별 연합회가 참여 중.</p>
                                            </li>
                                            <li>
                                                <strong class="scnet-name fw500 fs20">한국협동조합협의회</strong>
                                                <p class="cmn-cont-txt fw300 fs18"><span class="txt-linebreak">신협중앙회, 농협중앙회, 수협중앙회, 새마을금고중앙회, 산림조합중앙회, 아이쿱생협연합회 등으로</span> 이뤄진 개별법 협동조합 간 협의체다.</p>
                                            </li>
                                            <li>
                                                <strong class="scnet-name fw500 fs20">한국마을기업중앙협회</strong>
                                                <p class="cmn-cont-txt fw300 fs18"><span class="txt-linebreak">마을기업 활성화를 위한 연대와 협력체계를 구축하고, 지역공동체 회복 및 지역사회 통합을 유도하기 위해 2012년 발족.<br>1,400여 개 마을기업이 회원으로 참여하고 있으며, 17개 지부로 구성.</p>
                                            </li>
                                            <li>
                                                <strong class="scnet-name fw500 fs20">한국자활기업협회</strong>
                                                <p class="cmn-cont-txt fw300 fs18"><span class="txt-linebreak">자활기업 간 네트워크를 구축하고, 조직력을 강화하여 자활기업의 목소리를 대변하기 위해 2018년 발족.<br>자활기업의 대표 조직으로 12개 지역협회와 4개 업종협회로 구성. 350여개 자활기업이 회원으로 참여.</p>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                <dl class="scnet-kind-item">
                                    <dt class="scnet-kind-tit cmn-tgl-tit">
                                        <span class="gfw700 fs14 idx"># 3</span>
                                        <strong class="fw500 fs24 tit">지원조직 네트워크</strong>
                                    </dt>
                                    <dd class="scnet-kind-cont cmn-tgl-cont">
                                        <ul>
                                            <li>
                                                <strong class="scnet-name fw500 fs20">사회적기업·협동조합 통합지원기관 전국협의회</strong>
                                                <p class="cmn-cont-txt fw300 fs18"><span class="txt-linebreak">중앙부처의 사회적기업·협동조합 지원업무를 담당하고 있는 광역단위 지원기관의 전국 네트워크를 구축·운영하고 있다.</p>
                                            </li>
                                            <li>
                                                <strong class="scnet-name fw500 fs20">사임팩트얼라이언스</strong>
                                                <p class="cmn-cont-txt fw300 fs18"><span class="txt-linebreak"><span class="txt-linebreak">한국 최초의 소셜 임팩트 생태계 연대체로 2019년 9월 발족. ‘지속가능한 소셜 임팩트 생태계 조성’이라는 미션을 갖고</span> 서울 성동구 지역에서 활동하는 소셜벤처 및 지원기관들이 주축이 되어 설립을 준비하고, 현재 96개사가 회원조직으로 참여.</p>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                <dl class="scnet-kind-item">
                                    <dt class="scnet-kind-tit cmn-tgl-tit">
                                        <span class="gfw700 fs14 idx"># 4</span>
                                        <strong class="fw500 fs24 tit">언론</strong>
                                    </dt>
                                    <dd class="scnet-kind-cont cmn-tgl-cont">
                                        <ul>
                                            <li>
                                                <strong class="scnet-name fw500 fs20">사회적경제언론인 포럼</strong>
                                                <p class="cmn-cont-txt fw300 fs18"><span class="txt-linebreak">언론인 스스로 사회적경제 연구를 위한 모임.<br><span class="txt-linebreak">2013년 3월에 만들어졌으며 사회적경제를 공부하고 지혜를 나누며, 사회적경제의 미래를</span> 진지하게 연구하는 장을 만들어 공동저술, 공동기획 등 사회적경제 저변을 넓히는 것이 목표.</p>
                                            </li>
                                            <li>
                                                <strong class="scnet-name fw500 fs20">머니투데이 쿨머니</strong>
                                                <p class="cmn-cont-txt fw300 fs18">머니투데이가 운영하는 좋은 자본을 지향하고, 사회책임경영, 사회적경제, 시민사회기금 등에 대해 다루는 웹미디어.</p>
                                                <a href="https://coolmoney.mt.co.kr/" target="_blank" title="머니투데이 쿨머니 홈페이지 (새 창 이동)" class="scnet-link-btn gfw500 fs16">http://coolmoney.mt.co.kr</a>
                                            </li>
                                            <li>
                                                <strong class="scnet-name fw500 fs20">조선일보 더나은미래</strong>
                                                <p class="cmn-cont-txt fw300 fs18">조선일보 공익섹션으로 사회적가치, 사회적경제 등 공익 영역의 뉴스를 온오프라인으로 전하는 미디어.</p>
                                                <a href="https://futurechosun.com/" target="_blank" title="조선일보 더나은미래 홈페이지 (새 창 이동)" class="scnet-link-btn gfw500 fs16">http://futurechosun.com</a>
                                            </li>
                                            <li>
                                                <strong class="scnet-name fw500 fs20">이로운넷</strong>
                                                <p class="cmn-cont-txt fw300 fs18">사회적기업 인증을 받은 미디어로서, 사회적경제와 사회가치를 추구하는 기업과 개인을 집중 다루는 인터넷 미디어.</p>
                                                <a href="https://www.eroun.net/" target="_blank" title="이로운넷 홈페이지 (새 창 이동)" class="scnet-link-btn gfw500 fs16">http://www.eroun.net</a>
                                            </li>
                                            <li>
                                                <strong class="scnet-name fw500 fs20">라이프인</strong>
                                                <p class="cmn-cont-txt fw300 fs18">사회적경제 분야 전문 미디어로, 사회적경제분야의 마을소식부터 글로벌 트랜드를 다루는 사회적협동조합이자 비영리 미디어.</p>
                                                <a href="https://www.lifein.news/" target="_blank" title="라이프인 홈페이지 (새 창 이동)" class="scnet-link-btn gfw500 fs16">https://www.lifein.news</a>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                            </div> <!-- //common area : 다양한 네트워크 소개 -->
                            <div class="cmn-area scent-area-btm">
                                <div class="cmn-cont">
                                    <h3 class="cmn-cont-tit fw300 fs26">사회적경제에 대한 다양한 소식을 접하고 싶으시다면,</h3>
                                    <ul class="scent-sns-list flex-box flex-spc__btw">
                                        <li>
                                            <a href="https://page.stibee.com/subscriptions/31157" target="_blank" title="진흥원 뉴스레터 구독하기 (새 창 이동)" class="scent-sns-menu">
                                                <i><img src="../../content/images/buysocialcampaign/enterprise-sns-newsletter-icon.png" alt="뉴스레터 아이콘"></i>
                                                <p class="label fw300 fs18">진흥원<br><strong class="fw500">뉴스레터</strong><br>구독하기</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://pf.kakao.com/_xkbrDxl" target="_blank" title="진흥원 카카오플러스 친구되기 (새 창 이동)" class="scent-sns-menu">
                                                <i><img src="../../content/images/buysocialcampaign/enterprise-sns-kakaoplus-icon.png" alt="카카오플러스 아이콘"></i>
                                                <p class="label fw300 fs18">진흥원<br><strong class="fw500">카카오플러스</strong><br>친구되기</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://www.socialenterprise.or.kr/notice/open.do" target="_blank" title="진흥원 홈페이지로 이동하기 (새 창 이동)" class="scent-sns-menu">
                                                <i><img src="../../content/images/buysocialcampaign/enterprise-sns-homepage-icon.png" alt="홈페이지 아이콘"></i>
                                                <p class="label fw300 fs18">진흥원<br><strong class="fw500">홈페이지</strong>로<br>이동하기</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/kosea_365/" target="_blank" title="진흥원 인스타그램 팔로우하기 (새 창 이동)" class="scent-sns-menu">
                                                <i><img src="../../content/images/buysocialcampaign/enterprise-sns-instagram-icon.png" alt="인스타그램 아이콘"></i>
                                                <p class="label fw300 fs18">진흥원<br><strong class="fw500">인스타그램</strong><br>팔로우하기</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/social365" target="_blank" title="진흥원 페이스북 친구 맺기 (새 창 이동)" class="scent-sns-menu">
                                                <i><img src="../../content/images/buysocialcampaign/enterprise-sns-facebook-icon.png" alt="페이스북 아이콘"></i>
                                                <p class="label fw300 fs18">진흥원<br><strong class="fw500">페이스북</strong><br>친구 맺기</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blog.naver.com/se365company" target="_blank" title="진흥원 블로그 이웃 되기 (새 창 이동)" class="scent-sns-menu">
                                                <i><img src="../../content/images/buysocialcampaign/enterprise-sns-blog-icon.png" alt="블로그 아이콘"></i>
                                                <p class="label fw300 fs18">진흥원<br><strong class="fw500">블로그</strong><br>이웃 되기</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cmn-cont">
                                    <h3 class="cmn-cont-tit fw300 fs26"><span class="txt-linebreak__mo">바이소셜 캠페인에 참여하는</span> <strong class="fw400 fc-orange">#소셜셀러</strong>들은<br>아래에서 만나실 수 있습니다!</h3>
                                    <div class="pagination__btn pt0">
                                        <a href="BuySocialEnt.html" class="paging-btn__primary">
                                            <span class="label-arw gfw500 fs18">#바이소셜 참여기업 보러 가기</span>
                                        </a>
                                    </div>
                                </div>
                            </div> <!-- //common area : 바이소셜 SNS 채널 -->
                        </div> <!-- //sub page content -->
                    </div> <!-- //sub page wrap : abouts social ent -->
                </div> <!-- //sub page area -->
            </div> <!-- //grid -->
        </section>
        <!-- section END -->
        <!-- footer START -->
        <footer>
            <div class="grid1170">
                <div class="ft-area flex-box flex-row__rv flex-spc__btw flex-align__cnt">
                    <div class="ft-wrap__rt">
                        <ul class="ft-sns-list flex-box">
                            <li>
                                <a href="https://blog.naver.com/se365company" target="_blank" title="바이소셜 네이버 블로그로 이동하기 (새 창 이동)" class="ft-sns-menu">
                                    <i class="ft-sns-menu-ico"><img src="../../content/images/common/footer-blog-logo.png" alt="네이버 블로그 아이콘"></i>
                                    <span class="ft-sns-menu-label gfw300">Naverblog</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/social365" target="_blank" title="바이소셜 페이스북으로 이동하기 (새 창 이동)" class="ft-sns-menu">
                                    <i class="ft-sns-menu-ico"><img src="../../content/images/common/footer-facebook-logo.png" alt="페이스북 아이콘"></i>
                                    <span class="ft-sns-menu-label gfw300">Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/kosea_365" target="_blank" title="바이소셜 인스타그램으로 이동하기 (새 창 이동)" class="ft-sns-menu">
                                    <i class="ft-sns-menu-ico"><img src="../../content/images/common/footer-instagram-logo.png" alt="인스타그램 아이콘"></i>
                                    <span class="ft-sns-menu-label gfw300">Instagram</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCUcpAABeg5_kfCDI6gSIYXA" target="_blank" title="바이소셜 유튜브로 이동하기 (새 창 이동)" class="ft-sns-menu">
                                    <i class="ft-sns-menu-ico"><img src="../../content/images/common/footer-youtube-logo.png" alt="유튜브 아이콘"></i>
                                    <span class="ft-sns-menu-label gfw300">Youtube</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/social_365" target="_blank" title="바이소셜 트위터로 이동하기 (새 창 이동)" class="ft-sns-menu">
                                    <i class="ft-sns-menu-ico"><img src="../../content/images/common/footer-twitter-logo.png" alt="트위터 아이콘"></i>
                                    <span class="ft-sns-menu-label gfw300">Twitter</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ft-wrap__lt">
                        <i id="ftCi"><img src="../../content/images/common/footer-logo.png" alt="사회적경제 활성화 전국네트워크 로고 이미지"></i>
                        <div class="ft-info">
                            <p class="ft-info-txt">04031 서울 마포구 잔다리로 68<br>문의사항은 <strong>#알립니다</strong> 메뉴의 1:1 문의 게시판을 이용해 주시기 바랍니다.</p>
                        </div>
                        <div class="ft-info">
                            <p class="ft-info-txt">COPYRIGHT(C) 사회적경제활성화전국네트워크. ALL RIGHTS RESERVED.</p>
                        </div>
                        <div class="ft-info">
                            <a href="Policy.html" class="ft-btn">개인정보처리방침</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //footer END -->
        <script src="../../content/scripts/common.js"></script>
        <script>
            $(document).ready(function(){
                //toggle item event
                tglItem();
            });
        </script>
    </body>
</html>