<!Doctype html>
<html lang="ko">
    <head>
        <title>바이소셜</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="author" content="univEBIZ_ZOoOe">
        <meta name="keywords" content="바이소셜, 사회적기업, 사회적기업 바이소셜">
        <meta name="description" content="Better Tomorrow 사회적경제와 함께 보다 나은 세상을 만드는 일상 실천 캠페인 바이소셜">

        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="" >
        <meta property="og:title" content="바이소셜">
        <meta property="og:description" content="Better Tomorrow 사회적경제와 함께 보다 나은 세상을 만드는 일상 실천 캠페인 바이소셜">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta property="twitter:title" content="바이소셜">
        <meta property="twitter:description" content="">
        <meta property="twitter:image" content="./../content/images/share.png">

        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico"> <!-- Chrome, Safari, IE -->
        <link rel="icon" type="image/png" href="../../content/images/favicon.png"> <!-- Firefox, Opera -->

        <link href="../../content/styles/style.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <body>
            <div class="black">
                <div class="grid900">
                    <figure><img src="../../content/images/attend/challege-author-yeongrim-toon.jpg" alt="인스타툰 이미지"></figure>
                </div>
            </div>
        </body>
    </body>
</html>