<!Doctype html>
<html lang="ko">

<head>
    <title>바이소셜</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
    <meta name="author" content="univEBIZ_ZOoOe">
    <meta name="keywords" content="바이소셜, 사회적기업, 사회적기업 바이소셜">
    <meta name="description" content="Better Tomorrow 사회적경제와 함께 보다 나은 세상을 만드는 일상 실천 캠페인 바이소셜">

    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="바이소셜">
    <meta property="og:description" content="Better Tomorrow 사회적경제와 함께 보다 나은 세상을 만드는 일상 실천 캠페인 바이소셜">
    <meta property="og:image" content="../../content/images/share.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta property="twitter:title" content="바이소셜">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="./../content/images/share.png">

    <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico"> <!-- Chrome, Safari, IE -->
    <link rel="icon" type="image/png" href="../../content/images/favicon.png"> <!-- Firefox, Opera -->

    <link href="../../content/styles/slick.css" rel="stylesheet">
    <link href="../../content/styles/main.css" rel="stylesheet">
    <link href="../../content/styles/style.css" rel="stylesheet">
    <link href="../../content/styles/common.css" rel="stylesheet">
    <link href="../../content/styles/attend.css" rel="stylesheet">
    <link href="../../content/styles/mona.css" rel="stylesheet">

    <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
</head>

<body>
    <!-- header START -->
    <header>
        <div class="top-hd">
            <div class="grid1170">
                <h1 id="ci"><a href="index.html"><img src="../../content/images/common/header-logo.png"
                            alt="Buy Social 더 나은 일상을 산다"></a></h1>
                <a href="javascript:void(0);" class="nav-tgl-btn__mo">
                    <i class="bar"><span class="txt-hidden">모바일 내비게이션 토글 버튼</span></i>
                </a>
                <nav>
                    <h3 class="gfw500 nav-hd-tit__mo">MENU</h3>
                    <ul class="nav-item-list flex-box flex-spc__end flex-align__cnt">
                        <li class="nav-item">
                            <a href="AboutCampaign.html" class="nav-tit">#바이소셜 캠페인</a>
                            <strong class="nav-tit__mo">#바이소셜 캠페인</strong>
                            <ul class="nav-menu-list__mo">
                                <li>
                                    <a href="AboutCampaign.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">캠페인 소개</span></a>
                                </li>
                                <li>
                                    <a href="CampaignHistory.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">캠페인 히스토리</span></a>
                                </li>
                                <li>
                                    <a href="AboutSocialEco.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">사회적경제란?</span></a>
                                </li>
                                <li>
                                    <a href="AboutSocialEnt.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">사회적경제기업이란?</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="BuySocialDayConsume.html" class="nav-tit">#바이소셜 더 알아보기</a>
                            <strong class="nav-tit__mo">#바이소셜 더 알아보기</strong>
                            <ul class="nav-menu-list__mo">
                                <li>
                                    <a href="BuySocialDayConsume.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">소비성향 테스트</span></a>
                                </li>
                                <li>
                                    <a href="HouseVR.html" class="nav-menu__mo"><span class="nav-menu-label__mo">바이소셜 VR
                                            하우스</span></a>
                                </li>
                                <li>
                                    <a href="BuySocialFesta.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">가치소비플랫폼</span></a>
                                </li>
                                <li>
                                    <a href="OnAirProject.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">바이소셜 온에어 프로젝트</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="BuySocialByMeEarth.html" class="nav-tit">#2021 참여하기</a>
                            <strong class="nav-tit__mo">#2021 참여하기</strong>
                            <ul class="nav-menu-list__mo">
                                <li>
                                    <a href="event.html" class="nav-menu__mo"><span class="nav-menu-label__mo">바이소셜X모나섬
                                            이벤트</span></a>
                                </li>
                                <li>
                                    <a href="BuySocialWeek.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">바이소셜 위크 (Buy Social Week)</span></a>
                                </li>
                                <li>
                                    <a href="BuySocialChallenge.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">바이소셜 실천다짐 이벤트</span></a>
                                </li>
                                <li>
                                    <a href="BuySocialByMeEarth.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">#바이소셜 by ME 시즌2</span></a>
                                </li>
                                <li>
                                    <a href="BuySocialEnt.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">바이소셜 참여기업</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="AboutAttend.html" class="nav-tit">#아카이브</a>
                            <strong class="nav-tit__mo">#아카이브</strong>
                            <ul class="nav-menu-list__mo">
                                <li>
                                    <a href="AboutAttend.html" class="nav-menu__mo"><span class="nav-menu-label__mo">캠페인
                                            참여 안내</span></a>
                                </li>
                                <li>
                                    <a href="DeclareCampaign.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">바이소셜 선언식</span></a>
                                </li>
                                <li>
                                    <a href="BuySocialFairTrade.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">바이소셜X공정무역</span></a>
                                </li>
                                <li>
                                    <a href="BuySocialSovac.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">바이소셜XSOVAC 2020</span></a>
                                </li>
                                <li>
                                    <a href="EventInitial.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">대국민 초성 이벤트</span></a>
                                </li>
                                <li>
                                    <a href="IamSocialSeller.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">#IamSocialSeller</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="Notice.html" class="nav-tit">#알립니다</a>
                            <strong class="nav-tit__mo">#알립니다</strong>
                            <ul class="nav-menu-list__mo">
                                <li>
                                    <a href="Notice.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">공지사항</span></a>
                                </li>
                                <li>
                                    <a href="FAQ.html" class="nav-menu__mo"><span
                                            class="nav-menu-label__mo">FAQ</span></a>
                                </li>
                                <li>
                                    <a href="QNA.html" class="nav-menu__mo"><span class="nav-menu-label__mo">1:1
                                            문의</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div> <!-- //grid -->
        </div> <!-- //top header -->
        <div class="btm-hd">
            <div class="grid1170">
                <ul class="flex-box flex-spc__end">
                    <li class="nav-item__btm">
                        <a href="AboutCampaign.html" class="nav-menu"><span class="nav-menu-label">캠페인 소개</span></a>
                        <a href="CampaignHistory.html" class="nav-menu"><span class="nav-menu-label">캠페인 히스토리</span></a>
                        <a href="AboutSocialEco.html" class="nav-menu"><span class="nav-menu-label">사회적경제란?</span></a>
                        <a href="AboutSocialEnt.html" class="nav-menu"><span
                                class="nav-menu-label">사회적경제기업이란?</span></a>
                    </li>
                    <li class="nav-item__btm">
                        <a href="BuySocialDayConsume.html" class="nav-menu"><span class="nav-menu-label">소비성향
                                테스트</span></a>
                        <a href="HouseVR.html" class="nav-menu"><span class="nav-menu-label">바이소셜 VR 하우스</span></a>
                        <a href="BuySocialFesta.html" class="nav-menu"><span class="nav-menu-label">가치소비플랫폼</span></a>
                        <a href="OnAirProject.html" class="nav-menu"><span class="nav-menu-label">바이소셜 온에어
                                프로젝트</span></a>
                    </li>
                    <li class="nav-item__btm">
                        <a href="event.html" class="nav-menu"><span class="nav-menu-label">바이소셜X모나섬
                                이벤트</span></a>
                        <a href="BuySocialWeek.html" class="nav-menu"><span class="nav-menu-label">바이소셜 위크<br>(Buy
                                Social Week)</span></a>
                        <a href="BuySocialChallenge.html" class="nav-menu"><span class="nav-menu-label">바이소셜<br>실천다짐
                                이벤트</span></a>
                        <a href="BuySocialByMeEarth.html" class="nav-menu"><span class="nav-menu-label">#바이소셜 by ME
                                시즌2</span></a>
                        <a href="BuySocialEnt.html" class="nav-menu"><span class="nav-menu-label">바이소셜 참여기업</span></a>
                    </li>
                    <li class="nav-item__btm">
                        <a href="AboutAttend.html" class="nav-menu"><span class="nav-menu-label">캠페인 참여 안내</span></a>
                        <a href="DeclareCampaign.html" class="nav-menu"><span class="nav-menu-label">바이소셜 선언식</span></a>
                        <a href="BuySocialFairTrade.html" class="nav-menu"><span
                                class="nav-menu-label">바이소셜X공정무역</span></a>
                        <a href="BuySocialSovac.html" class="nav-menu"><span class="nav-menu-label">바이소셜XSOVAC
                                2020</span></a>
                        <a href="EventInitial.html" class="nav-menu"><span class="nav-menu-label">대국민 초성 이벤트</span></a>
                        <a href="IamSocialSeller.html" class="nav-menu"><span
                                class="nav-menu-label">#IamSocialSeller</span></a>
                    </li>
                    <li class="nav-item__btm">
                        <a href="Notice.html" class="nav-menu"><span class="nav-menu-label">공지사항</span></a>
                        <a href="FAQ.html" class="nav-menu"><span class="nav-menu-label">FAQ</span></a>
                        <a href="QNA.html" class="nav-menu"><span class="nav-menu-label">1:1 문의</span></a>
                    </li>
                </ul>
            </div> <!-- //grid -->
        </div> <!-- //bottom header -->
    </header>
    <!-- //header END -->
    <!-- section START -->
    <section id="subPage">
        <div class="grid1170">
            <div class="subpage-area">
                <div class="subpage-wrap" id="BuySocialChallenge">
                    <div class="subpage-hd flex-box flex-row__rv flex-spc__btw flex-align__cnt">
                        <div class="subpage-root flex-box flex-align__cnt fs14">
                            <span class="subpage-root-item">HOME</span>
                            <span class="subpage-root-item">바이소셜캠페인</span>
                            <span class="subpage-root-item">캠페인 소개</span>
                        </div>
                        <h2 class="subpage-hd-tit gfw700 fs36">바이소셜X모나섬</h2>
                    </div> <!-- //sub page header -->
                    <div class="subpage-cont">
                        <div class="cmn-area chlg-area__top p0">
                            <figure><img src="../../content/images/mona/mona-poster.png"
                                    alt="종교계와 함께하는 바이소셜, 바이소셜x모나섬과 함께하는 2가지 방법!">
                            </figure>
                        </div> <!-- //common area : 바이소셜x모나섬과 함께하는 2가지 방법! -->
                        <div class="cmn-area campaign movie">
                            <div class="mov-wrap flex-box">
                                <h3 class="cmn-hd-tit gfw500">캠페인 영상</h3>
                                <div class="cmn-cont">
                                    <div class="mov-frame"><iframe src="https://www.youtube.com/embed/rU5nV_jmZlg"
                                            class="mov" id="mov"></iframe></div>
                                </div>
                            </div> <!-- //movie wrap -->
                            <div class="mov-btn-slider">
                                <div class="mov-btn-item">
                                    <a href="javascript:void(0);" class="mov-btn active" onclick="changeMov(this);"
                                        data-movid="rU5nV_jmZlg">
                                        <i class="mov-btn-idx gfw500 fs16">01</i>
                                        <strong class="mov-btn-label fs14 txt-elp">캠페인 개회식 영상 및 축사</strong>
                                    </a>
                                    <a href="javascript:void(0);" class="mov-btn" onclick="changeMov(this);"
                                        data-movid="cHQ414Wq84A">
                                        <i class="mov-btn-idx gfw500 fs16">02</i>
                                        <strong class="mov-btn-label fs14 txt-elp">모나섬 광고영상</strong>
                                    </a>
                                    <a href="javascript:void(0);" class="mov-btn" onclick="changeMov(this);"
                                        data-movid="xuYO2XXgorA">
                                        <i class="mov-btn-idx gfw500 fs16">03</i>
                                        <strong class="mov-btn-label fs14 txt-elp">CPBC 소개영상</strong>
                                    </a>
                                </div>
                                <div class="mov-btn-item">
                                    <a href="javascript:void(0);" class="mov-btn" onclick="changeMov(this);"
                                        data-movid="C32nFcla3C0">
                                        <i class="mov-btn-idx gfw500 fs16">04</i>
                                        <strong class="mov-btn-label fs14 txt-elp">SOVAC2020 더 나은 세상을 위한 실천, Buy
                                            Social</strong>
                                    </a>
                                    <a href="javascript:void(0);" class="mov-btn" onclick="changeMov(this);"
                                        data-movid="YWmpjAqvIYg">
                                        <i class="mov-btn-idx gfw500 fs16">05</i>
                                        <strong class="mov-btn-label fs14 txt-elp">내일을 위한 약속, 바이소셜(Buy Social)
                                            지지영상</strong>
                                    </a>
                                </div>
                            </div> <!-- //movie btn slider -->
                        </div><!-- //common area : campaign movie -->
                        <div class="cmn-area chlg-area__md p0">
                            <figure><img src="../../content/images/mona/mona-event-poster-01.png"
                                    alt="세상에서 제일 쉬운 댓글 EVENT / 댓글만 달아도 참여할 수 있어요!">
                            </figure>
                        </div> <!-- //common area : 세상에서 제일 쉬운 댓글 EVENT -->
                        <div class="cmn-area chlg-area__md p0 event">
                            <div class="cmn-ev-form-wrap bg-white2">
                                <h3 class="cmn-ev-form-tit gfw700 fs26"><strong class="nfw500">바이소셜 실천다짐 이벤트
                                        참여하기</strong></h3>
                                <div class="cmn-ev-form-terms">
                                    <strong class="tit gfw500 fs18 fc-grey">개인정보수집이용 동의</strong>
                                    <div class="terms fw300 fs20">
                                        <p>바이소셜(이하 ＇사이트'라 합니다.)은 개인정보보호법을 준수하고 있으며, 바이소셜 이벤트와 관련하여 아래와 같이 개인정보
                                            수집∙이용(제공)에 대한 귀하의 동의를 받고자 합니다. 내용을 자세히 읽으신 후 동의 여부를 결정하여 주십시오. [관련법령 개인정보보호법
                                            제15조, 제17조, 제22조, 제23조, 제24조]<br><br></p>
                                        <p><b>1. 개인정보 수집 · 이용에 대한 동의</b><br>1) 수집하는 개인정보의 이용목적<br>: 이벤트 신청 심사, 운영 및
                                            관리<br>2) 수집 항목<br>① 필수 : 이름, 휴대전화번호, 이메일 주소, 주소<br>3) 보유 및 이용기간<br>: 위 개인정보는
                                            수집이용목적이 달성되면 즉시 폐기합니다. 다만, 사이트는 관련법령의 규정에 의하여 개인정보를 보유할 필요가 있는 경우, 해당 법령에서
                                            정한 바에 의하여 아래와 같이 개인정보를 보유할 수 있습니다.<br>- 계약 또는 청약철회 등에 관련 기록 : 5년 <br>- 대금결제
                                            및 재화 등의 공급에 관한 기록 : 5년 <br>- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 <br>- 신용정보의 수집/처리 및
                                            이용 등에 관한 기록 : 3년 <br>- 표시/광고에 관한 기록 : 6개월 <br>- 이용자의 인터넷 등 로그기록/ 이용자의 접속지
                                            추적자료 : 3개월 <br>- 그 외의 통신사실 확인 자료 : 12개월<br>4) 동의 거부의 권리<br>: 귀하는 개인정보 수집·이용에
                                            동의하지 않으실 수 있습니다. 다만, 동의 거부 시 이벤트 신청 및 선정이 제한될 수 있습니다.<br><br><b>3. 취급 · 위탁에
                                                대한 동의</b><br>위탁 받는 자 : 바이소셜 홈페이지 위탁용역업체 - (주)대학내일<br>위탁하는 업무내용 : 홈페이지
                                            이벤트 운영 및 문의 응대, 홈페이지 콘텐츠 제작<br><br></p>
                                        <p>사이트는 위탁계약 체결시 개인정보 보호법 제25조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적․관리적 보호조치, 재위탁 제한,
                                            수탁자에 대한 관리․감독, 손해배상 등 책임에 관한 사항을 개인정보 위탁계약 서약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게
                                            처리하는지 감독하고 있습니다. 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체 없이 본 개인정보처리방침을 통하여 공개하도록
                                            하겠습니다.<br>개인정보 처리위탁은 개별 서비스별로 그 이행을 위해 필요한 경우에 한해 각 위탁업체에 대해 이루어집니다.<br><br>
                                        </p>
                                        <p>※ 개인정보 제공자가 동의한 내용 외의 다른 목적으로 활용하지 않으며, 제공된 개인정보에 대해 사이트에 열람, 정정, 삭제를 요구할 수
                                            있습니다.<br>※ 기타 개인정보처리에 관한 자세한 사항은 바이소셜 홈페이지(https://www.buysocial.or.kr)에 공개한
                                            “개인정보처리방침“을 참조하십시오.</p>
                                    </div>
                                    <div class="check-area">
                                        <input type="checkbox" id="isAgree" name="isAgree">
                                        <label for="isAgree" class="fw500 fs18">동의합니다</label>
                                    </div>
                                </div>
                                <div class="cmn-ev-form-field">
                                    <div class="cmn-ev-form-row flex-box">
                                        <label for="name" class="gfw700 fs18">이름</label>
                                        <div class="cmn-ev-form-el-box">
                                            <input id="name" placeholder="이름을 입력해 주세요." type="text"
                                                class="fw300 fs20 w-pct__50">
                                        </div>
                                    </div>
                                    <div class="cmn-ev-form-row flex-box">
                                        <label for="phoneNumber" class="gfw700 fs18">휴대전화번호</label>
                                        <div class="cmn-ev-form-el-box">
                                            <input id="phoneNumber" placeholder="숫자만 입력해 주세요." type="text"
                                                class="fw300 fs20 w-pct__50">
                                        </div>
                                    </div>
                                    <div class="cmn-ev-form-row flex-box">
                                        <label for="email" class="gfw700 fs18">이메일 주소</label>
                                        <div class="cmn-ev-form-el-box">
                                            <input id="email" placeholder="이메일 주소를 입력해 주세요." type="text"
                                                class="fw300 fs20 w-pct__50">
                                        </div>
                                    </div>
                                    <div class="cmn-ev-form-row flex-box">
                                        <label for="address" class="gfw700 fs18">주소</label>
                                        <div class="cmn-ev-form-el-box">
                                            <div class="cmn-ev-form-el-row flex-box">
                                                <input id="address" placeholder="주소를 입력해 주세요." type="text"
                                                    class=" withbtn fw300 fs20 w-pct__50">
                                                <button class="cmn-ev-form-btn fw500 fs16">주소 검색</button>
                                            </div>
                                            <div class="cmn-ev-form-el-row">
                                                <input id="addressDetail" placeholder="상세 주소를 입력해 주세요." type="text"
                                                    class="fw300 fs20 w-pct__100">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cmn-ev-form-row flex-box">
                                        <label for="comment" class="gfw700 fs18">실천다짐 댓글</label>
                                        <div class="cmn-ev-form-el-box upload">
                                            <input id="comment" placeholder="실천다짐 댓글을 100자 이내로 입력해 주세요." type="text"
                                                class="fw300 fs20 w-pct__100">
                                        </div>
                                    </div>
                                </div>
                                <a href="jvascript:void(0);"
                                    onclick="alert('바이소셜 실천다짐 이벤트 이벤트에 응모 되셨습니다.\n참여해 주셔서 감사합니다')"
                                    class="cmn-ev-form-applybtn chlg-apply-btn gfw500 fs26 orange">이벤트 응모하기</a>
                            </div>
                        </div> <!-- //common area : 바이소셜 실천다짐 이벤트 입력폼 -->
                        <div class="cmn-area chlg-area__md p0 comment">
                            <div class="cmn-ev-form-wrap bg-white3">
                                <h3 class="cmn-ev-form-tit gfw700 fs26 mb20"><strong class="nfw500 fc-black2">실천다짐
                                        댓글</strong>
                                </h3>
                                <ul class="message_list">
                                    <li>
                                        <div>
                                            <span class="name">홍길동</span>
                                            <span class="text">신부님과 함께 저 또한 바이소셜 함께 하겠습니다.</span>
                                            <em class="time">2021.09.15 18:00:30</em>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="name">홍길동</span>
                                            <span class="text">신부님과 함께 저 또한 바이소셜 함께 하겠습니다.</span>
                                            <em class="time">2021.09.15 18:00:30</em>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="name">홍길동</span>
                                            <span class="text">신부님과 함께 저 또한 바이소셜 함께 하겠습니다.</span>
                                            <em class="time">2021.09.15 18:00:30</em>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="name">홍길동</span>
                                            <span class="text">신부님과 함께 저 또한 바이소셜 함께 하겠습니다.</span>
                                            <em class="time">2021.09.15 18:00:30</em>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="name">홍길동</span>
                                            <span class="text">신부님과 함께 저 또한 바이소셜 함께 하겠습니다.</span>
                                            <em class="time">2021.05.17 18:00:30</em>
                                        </div>
                                    </li>
                                </ul>
                                <!-- //message_list -->
                                <div class="txt-cnt">
                                    <button class="more_btn efw500">더보기 +</button>
                                </div>
                            </div>
                        </div><!-- //common area : 바이소셜 실천다짐 댓글 -->
                        <div class="cmn-area chlg-area__md campaign-event p0">
                            <figure>
                                <img src="../../content/images/mona/mona-event-poster-02.png"
                                    alt="모나섬 e-store 36.5 기획전 / 가치소비 하고, 이웃도 돕고! / 기획전 기간 2021년 7월 2일(금) ~ 9월 30일(목)">
                            </figure>
                            <a href="https://www.sepp.or.kr/pages/2242" class="campaign-btn01"
                                title="모나섬 e-store 36.5 기획전 바로가기" target="_blank"></a>
                            <a href="https://www.babo.or.kr/" class="campaign-btn02" title="재단법인 바보의나눔 자세히 보러가기"
                                target="_blank"></a>
                        </div><!-- //common area : 모나섬 e-store 36.5 기획전 가치소비 하고, 이웃도 돕고! -->
                        <div class="cmn-area chlg-area__md week p0">
                            <div class="cmn-ev-form-wrap">
                                <h3 class="cmn-ev-form-tit gfw700 fs26"><strong class="nfw500 fc-gray">2021년 종교계 공동행사 한
                                        눈에
                                        보기</strong></h3>
                            </div>
                            <div class="cmn-area week-area__md pt0">
                                <div class="cmn-cont">
                                    <dl class="week-schd flex-box pt0">
                                        <dt class="gfw700 fs20">7월 2일 (금)</dt>
                                        <dd>
                                            <ul class="week-schd-time-list">
                                                <li class="week-schd-time-item flex-box">
                                                    <div class="cont">
                                                        <strong class="tit fw500 fs22">바이소셜x모나섬 캠페인 개회식</strong>
                                                        <a href="https://www.youtube.com/channel/UCUcpAABeg5_kfCDI6gSIYXA"
                                                            target="_blank" title="진흥원 유튜브 채널 바로가기 (새 창 이동)"
                                                            class="paging-btn__ghost">
                                                            <span class="label-arw gfw500">진흥원 유튜브 바로가기</span>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl class="week-schd flex-box">
                                        <dt class="gfw700 fs20"><span class="txt-linebreak">7월 2일(금)</span> ~ 9월 30일(목)
                                        </dt>
                                        <dd>
                                            <ul class="week-schd-time-list">
                                                <li class="week-schd-time-item flex-box">
                                                    <div class="cont">
                                                        <strong class="tit fw500 fs22">바이소셜x모나섬 온라인 기획전 (종교나눔 특별전 20%
                                                            할인)</strong>
                                                        <a href="https://www.sepp.or.kr/sepp/main" target="_blank"
                                                            title="사회적경제상품몰 e-store 36.5 바로가기 (새 창 이동)"
                                                            class="paging-btn__ghost">
                                                            <span class="label-arw gfw500 ">사회적경제상품몰 e-store <br
                                                                    class="pc-no">
                                                                36.5 <br class="mb-no">바로가기</span>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl class="week-schd flex-box">
                                        <dt class="gfw700 fs20">9월중 OPEN</dt>
                                        <dd>
                                            <ul class="week-schd-time-list">
                                                <li class="week-schd-time-item flex-box">
                                                    <div class="cont">
                                                        <strong class="tit fw500 fs22">바이소셜x모나섬 11번가 이벤트</strong>
                                                        <!-- <p class="txt fw300 fs16">사회적경제 교육 확산 및 지역인재 양성을 위한 대학의 역할과 협력
                                                            방안을
                                                            모색합니다.</p> -->
                                                        <a href="https://www.youtube.com/channel/UCUcpAABeg5_kfCDI6gSIYXA"
                                                            target="_blank" title="11번가 이벤트 바로가기 (새 창 이동)"
                                                            class="paging-btn__ghost">
                                                            <span class="label-arw gfw500">11번가 이벤트 바로가기</span>
                                                        </a>
                                                    </div>
                                                    <div class="cont">
                                                        <strong class="tit fw500 fs22">바이소셜x모나섬 추석맞이 오프라인 판매전
                                                            공감마켓정</strong>
                                                        <p class="txt fw300 fs16">: 하나로클럽 창동점 (서울 도봉구 마들로11길 20)</p>
                                                        </a>
                                                    </div>
                                                    <div class="cont type2">
                                                        <strong class="tit fw500 fs22">바이소셜x모나섬 캠페인 종교별 홍보영상
                                                            공개!</strong>
                                                        <div class="flex-box flex-col">
                                                            <a href="https://www.youtube.com/channel/UCUcpAABeg5_kfCDI6gSIYXA"
                                                                target="_blank" title="CPBC 유튜브 채널 바로가기 (새 창 이동)"
                                                                class="paging-btn__ghost">
                                                                <span class="label-arw gfw500">CPBC 유튜브 채널
                                                                    바로가기</span>
                                                            </a>
                                                            <a href="https://www.youtube.com/channel/UCUcpAABeg5_kfCDI6gSIYXA"
                                                                target="_blank" title="CTS 유튜브 채널 바로가기 (새 창 이동)"
                                                                class="paging-btn__ghost">
                                                                <span class="label-arw gfw500">CTS 유튜브 채널
                                                                    바로가기</span>
                                                            </a>
                                                            <a href="https://www.youtube.com/channel/UCUcpAABeg5_kfCDI6gSIYXA"
                                                                target="_blank" title="BTN 유튜브 채널 바로가기 (새 창 이동)"
                                                                class="paging-btn__ghost">
                                                                <span class="label-arw gfw500">BTN 유튜브 채널
                                                                    바로가기</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl class="week-schd flex-box">
                                        <dt class="gfw700 fs20">10월 7일(목)
                                            <span class="efw400">11:00 ~ 12:30</span>
                                        </dt>
                                        <dd>
                                            <ul class="week-schd-time-list">
                                                <li class="week-schd-time-item flex-box">
                                                    <div class="cont">
                                                        <strong class="tit fw500 fs22">2021 종교공동행사 포상식 및 성과공유회
                                                            개최</strong>
                                                        <p class="txt fw300 fs16">: 서울 명동대성당 코스트홀 (서울 중구 명동길 74)</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl class="week-schd flex-box pb0">
                                        <dt class="gfw700 fs20">11월 ~ 12월 중</dt>
                                        <dd>
                                            <ul class="week-schd-time-list">
                                                <li class="week-schd-time-item flex-box">
                                                    <div class="cont">
                                                        <strong class="tit fw500 fs22">바이소셜x모나섬 기획전 수익금 쉼터 기부 (천주교, 개신교,
                                                            불교)</strong>
                                                        <p class="txt fw300 fs16">: 서울 명동대성당 코스트홀(서울 중구 명동길 74)
                                                        </p>
                                                        <a href="https://www.youtube.com/channel/UCUcpAABeg5_kfCDI6gSIYXA"
                                                            target="_blank" title="재단법인 바보의 나눔 바로가기 (새 창 이동)"
                                                            class="paging-btn__ghost">
                                                            <!-- 21 09 01 네이블 수정 -->
                                                            <span class="label-arw gfw500">재단법인 바보의 나눔 바로가기</span>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div><!-- //common area : 2021년 종교계 공동행사 한 눈에 보기 -->
                        <div class="cmn-area chlg-area__attractt pb0">
                            <div class="cmn-hd txt-cnt">
                                <h3 class="cmn-hd-tit gfw500 fs36"><span class="fc-orange2">#바이소셜</span> 실천다짐을 응원합니다.
                                </h3>
                                <div class="attractt-tag-box flex-box flex-spc__cnt flex-align__cnt">
                                    <span class="attractt-tag gfw500 fs16">#바이소셜실천다짐</span>
                                </div>
                            </div>
                            <div class="cmn-cont">
                                <div class="attractt-container" data-idx="0" data-code="kVqIGhLjglteC8c"
                                    data-board="grid"></div>
                            </div>
                        </div> <!-- //common area : 어트랙트 -->
                    </div> <!-- //sub page content -->
                </div> <!-- //sub page wrap : Buy Social Challenge -->
            </div> <!-- //sub page area -->
        </div> <!-- //grid -->
    </section>
    <!-- section END -->

    <!-- footer START -->
    <footer>
        <div class="grid1170">
            <div class="ft-area flex-box flex-row__rv flex-spc__btw flex-align__cnt">
                <div class="ft-wrap__rt">
                    <ul class="ft-sns-list flex-box">
                        <li>
                            <a href="https://blog.naver.com/se365company" target="_blank"
                                title="바이소셜 네이버 블로그로 이동하기 (새 창 이동)" class="ft-sns-menu">
                                <i class="ft-sns-menu-ico"><img src="../../content/images/common/footer-blog-logo.png"
                                        alt="네이버 블로그 아이콘"></i>
                                <span class="ft-sns-menu-label gfw300">Naverblog</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/social365" target="_blank"
                                title="바이소셜 페이스북으로 이동하기 (새 창 이동)" class="ft-sns-menu">
                                <i class="ft-sns-menu-ico"><img
                                        src="../../content/images/common/footer-facebook-logo.png" alt="페이스북 아이콘"></i>
                                <span class="ft-sns-menu-label gfw300">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/kosea_365" target="_blank"
                                title="바이소셜 인스타그램으로 이동하기 (새 창 이동)" class="ft-sns-menu">
                                <i class="ft-sns-menu-ico"><img
                                        src="../../content/images/common/footer-instagram-logo.png" alt="인스타그램 아이콘"></i>
                                <span class="ft-sns-menu-label gfw300">Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCUcpAABeg5_kfCDI6gSIYXA" target="_blank"
                                title="바이소셜 유튜브로 이동하기 (새 창 이동)" class="ft-sns-menu">
                                <i class="ft-sns-menu-ico"><img
                                        src="../../content/images/common/footer-youtube-logo.png" alt="유튜브 아이콘"></i>
                                <span class="ft-sns-menu-label gfw300">Youtube</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/social_365" target="_blank" title="바이소셜 트위터로 이동하기 (새 창 이동)"
                                class="ft-sns-menu">
                                <i class="ft-sns-menu-ico"><img
                                        src="../../content/images/common/footer-twitter-logo.png" alt="트위터 아이콘"></i>
                                <span class="ft-sns-menu-label gfw300">Twitter</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ft-wrap__lt">
                    <i id="ftCi"><img src="../../content/images/common/footer-logo.png"
                            alt="사회적경제 활성화 전국네트워크 로고 이미지"></i>
                    <div class="ft-info">
                        <p class="ft-info-txt">04031 서울 마포구 잔다리로 68<br>문의사항은 <strong>#알립니다</strong> 메뉴의 1:1 문의 게시판을 이용해
                            주시기 바랍니다.</p>
                    </div>
                    <div class="ft-info">
                        <p class="ft-info-txt">COPYRIGHT(C) 사회적경제활성화전국네트워크. ALL RIGHTS RESERVED.</p>
                    </div>
                    <div class="ft-info">
                        <a href="Policy.html" class="ft-btn">개인정보처리방침</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer END -->
    <!-- modal START -->
    <div class="modal-area" id="modalWinnerNotice">
        <div class="modal-wrap__rlt modal-wrap__680">
            <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalWinnerNotice');"><span
                    class="txt-hidden">당첨자 발표 레이어 팝업 닫기</span></a>
            <div class="modal-hd">
                <h3 class="modal-hd-tit fw500 fs30"><span class="txt-linebreak__mo">바이소셜 실천다짐</span> 이벤트 당첨자 발표</h3>
            </div>
            <div class="modal-cont">
                <p class="modal-cont-txt fs18"><span class="fc-purple">바이소셜 실천다짐 이벤트</span>에<br>참여해주신 분들 중 <span
                        class="fc-purple">총 100분</span>을 선정하였습니다.</p>
                <p class="modal-cont-txt fs18">이벤트 상품은 기재하신 휴대폰 번호를 통해<br>개인별로 문자 발송 됩니다.</p>
                <p class="modal-cont-txt fs18">이벤트에 참여해주신 모든 분들에게 감사드리며,<br>아래 리스트에서 당첨 여부를 확인해보세요!</p>
                <p class="modal-cont-txt fs18"><span class="fc-purple">Ctrl+F</span>로 참여하신 연락처 뒤 4자리로 쉽게 찾아보실 수 있습니다.
                </p>
                <div class="modal-winner">
                    <h4 class="modal-winner-tit fw500 fs18">당첨자 (100명)</h4>
                    <ul class="modal-winner-list flex-box">
                        <li class="modal-winner-name fs16">김*민(0324)</li>
                        <li class="modal-winner-name fs16">김*민(0324)</li>
                        <li class="modal-winner-name fs16">김*민(0324)</li>
                        <li class="modal-winner-name fs16">김*민(0324)</li>
                        <li class="modal-winner-name fs16">김*민(0324)</li>
                        <li class="modal-winner-name fs16">김*민(0324)</li>
                        <li class="modal-winner-name fs16">김*민(0324)</li>
                        <li class="modal-winner-name fs16">김*민(0324)</li>
                        <li class="modal-winner-name fs16">김*민(0324)</li>
                        <li class="modal-winner-name fs16">김*민(0324)</li>
                    </ul>
                </div>
                <p class="modal-cont-txt fs18">※본 이벤트 참여시 기재하신 개인정보는<br>이벤트 상품 발송 용도로만 사용되며, 사용 후 폐기됩니다.</p>
            </div>
        </div>
    </div>
    <!-- //modal END -->
    <script src="../../content/scripts/slick.min.js"></script>
    <script src="../../content/scripts/common.js"></script>
    <script>
        $(document).ready(function () {
            //loading attractt
            (function (d, s) {
                var j, e = d.getElementsByTagName(s)[0],
                    h = "https://cdn.attractt.com/embed_v2/index.js";
                if (typeof AttracttTower === "function" || e.src === h) {
                    return;
                }
                j = d.createElement(s);
                j.src = h;
                j.async = true;
                e.parentNode.insertBefore(j, e);
            })(document, "script");

            //당첨자 발표 팝업 열기
            // openModal('modalWinnerNotice');

            //close modal event when click backgrouond
            closeBackmodal();

            //main movie button slider
            mainMovBtnSlider();

            //open image notice modal
            // openModal("modalImgNotice");
        });
    </script>
</body>

</html>